<p>
  edit works!
</p>
<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" >
      <div class="form-group">
        <label class="col-md-4">Vacancy Name</label>
        <input type="text" class="form-control" name="name" formControlName="name" #name [ngModel] = "vacancies?.name" />
      </div>
      <div class="form-group">
        <label class="col-md-4">Salary</label>
        <input type="text" class="form-control" name="description" formControlName="description" #description [ngModel] = "vacancies?.description"/>
        </div>
        <div class="form-group">
        <label class="col-md-4">Required Experience</label>
        <input type="number" class="form-control" name="salary" formControlName = "salary" #salary [ngModel] = "vacancies?.price"/>
        </div>
        <div class="form-group">
        <label class="col-md-4">Job Description</label>
        <input type="text" class="form-control" name="currency" formControlName = "currency" #currency [ngModel] = "vacancies?.currency"/>
        </div>
        
        
        <div class="form-group">
          <button type="submit" (click)= "updateVacancy()" class="btn btn-primary">Update</button>
        </div>
    </form>
  </div>
</div>